*.tar.gz
*.zip
*.Rcheck/
.Rhistory
.RData
_val_out*.txt
_check_out*.txt
_cred_*.txt
_paper.txt
_git.txt
.Rproj.user/
*.Rproj
_check_final.txt
# LaTeX / PDF manual build outputs (kept out of the source tree & CRAN tarball)
/manual/*.aux
/manual/*.log
/manual/*.toc
/manual/*.out
/manual/*.err
/manual/*.pdf
/BvChen-manual.pdf
